bin/
obj/
*.suo
*.user
*.cache
*.vs/
.vs/
*.db
*.mdf
*.ldf
*.log
/packages/
*/TestResults/
_ReSharper.*/
*.swp
*.*sdf
*.opensdf
*.pdb
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest
*.cache
*.ilk
/appsettings.json
/connectionstrings.config
